<!--  this is footer -->
<div class="clear"></div>
<!-- <nav class="navbar fixed-bottom navbar-light alert-success">
    <a class="navbar-brand" href="https://www.kalyan.info" target="_blank">Kalyan Software</a>
</nav> -->
<!-- Please Subscribe My Youtube Channel
https://www.youtube.com/channel/UCQM5ye1xR4vJgtga0ryud2Q/
-->
<footer id="footer" class="footer-1">
    <div class="main-footer widgets-dark typo-light">
        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="widget subscribe no-box">
                        <h5 class="widget-title">Kalyan Software<span></span></h5>
                        <p>Kalyan Software offers a wide range of consulting services to serve a variety of businesses and clients. Currently our portfolio contains two very powerful products. One is Fees Management and Tracking System for Private Institutions such as College, School or University. Another one is Small Business Solution. Our product  design philosophy is guided by Ease of Use. We bring intuitive business flows to your hand.</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget no-box">
                        <h5 class="widget-title">Quick Links<span></span></h5>
                        <ul class="thumbnail-widget">
                            <li>
                                <div class="thumb-content"><a href="https://www.kalyan.info">Our Story</a></div>
                            </li>
                            <li>
                                <div class="thumb-content"><a href="https://www.kalyan.info/projects">Our Projects</a></div>
                            </li>
                            <li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">

                    <div class="widget no-box">
                        <h5 class="widget-title">Contact Us<span></span></h5>

                        <p><a href="mailto:avik@kalyan.info" title="glorythemes">avik@kalyan.info</a></p>
                        <p><a href="tel:9046379123" title="glorythemes">9046379123</a></p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>Copyright Kalyan Software © 2020. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>

</html>