{{>layout/header}}
<body>
	<div class="wrapper">
		<div class="container">
			<div class="row">
				{{>layout/navbar}}
			</div>
			<div class="row">
				{{>layout/sidebar}}
				<div class="col-md-10">
					<legend>Student Registration Form</legend>
					<form id="studRegForm">
						<fieldset class="form-group">
							<div class="row">
								<legend class="col-form-label col-sm-2 pt-0">Course</legend>
								<div class="col-sm-10">
									<div class="form-check">
										<input class="form-check-input" type="radio" name="courseRadio" id="courseBed" value="B.Ed" checked>
										<label class="form-check-label" for="courseBed">
											B.Ed
										</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="radio" name="courseRadio" id="courseDed" value="D.El.Ed">
										<label class="form-check-label" for="courseDed">
											D.El.Ed
										</label>
									</div>
								</div>
							</div>
						</fieldset>
						<div class="form-group">
							<label for="name">Name*</label>
							<input type="text" class="form-control clearit" id="name">
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="father">Father's Name</label>
								<input type="text" class="form-control clearit" id="father">
							</div>
							<div class="form-group col-md-6">
								<label for="mother">Mother's Name</label>
								<input type="text" class="form-control clearit" id="mother">
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="courseFee">Course Fee*</label>
								<input type="number" class="form-control clearit" id="courseFee">
							</div>
							<div class="form-group col-md-6">
								<label for="familyIncome">Family Income</label>
								<input type="text" class="form-control clearit" id="familyIncome" placeholder="Yearly Income">
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-4">
								<label for="dob">Date of Birth*</label>
								<input type="date" class="form-control clearit" id="dob" placeholder="DD/MM/YYYY">
							</div>
							<div class="form-group col-md-2">
								<label for="gender">Gender</label>
								<select id="gender" class="form-control">
									<option>Male</option>
									<option>Female</option>
								</select>
							</div>
							<div class="form-group col-md-3">
								<label for="religion">Religion</label>
								<select id="religion" class="form-control">
									<option>Hinduism</option>
									<option>Islam</option>
									<option>Christianity</option>
									<option>Sikhism</option>
									<option>Buddhism</option>
									<option>Jainism</option>
									<option>NA</option>
								</select>
							</div>
							<div class="form-group col-md-3">
								<label for="category">Category</label>
								<select id="category" class="form-control">
									<option>General</option>
									<option>SC</option>
									<option>ST</option>
									<option>OBC-A</option>
									<option>OBC-B</option>
									<option>PH</option>
								</select>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-4">
								<label for="mobile">Mobile Number*</label>
								<input type="number" class="form-control clearit" id="mobile">
							</div>
							<div class="form-group col-md-4">
								<label for="email">Email Address*</label>
								<input type="email" class="form-control clearit" id="email" placeholder="username@domain">
							</div>
							<div class="form-group col-md-4">
								<label for="guardianContact">Guardian Contact Number</label>
								<input type="text" class="form-control clearit" id="guardianContact">
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-4">
								<label for="blood">Blood Group</label>
								<select id="blood" class="form-control">
									<option>N/A</option>
									<option>O-</option>
									<option>O+</option>
									<option>A-</option>
									<option>A+</option>
									<option>B-</option>
									<option>B+</option>
									<option>AB-</option>
									<option>AB+</option>
								</select>
							</div>
							<div class="form-group col-md-4">
								<label for="language">Language</label>
								<input type="text" class="form-control" id="language" value="Bengali">
							</div>
							<div class="form-group col-md-4">
								<label for="nationality">Nationality</label>
								<input type="text" class="form-control" id="nationality" value="Indian">
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-4">
								<label for="type">Application Type</label>
								<select id="type" class="form-control">
									<option>Fresher</option>
									<option>Deputed</option>
								</select>
							</div>
							<div class="form-group col-md-4">
								<label for="session">Academic Session</label>
								<select id="session" class="form-control">
									<option>2018-20</option>
									<option>2019-21</option>
									<option>2020-22</option>
								</select>
							</div>
							<div class="form-group col-md-4">
								<label for="aadhaar">Aadhaar*</label>
								<input type="number" class="form-control clearit" id="aadhaar">
							</div>
						</div>
						<div class="form-group">
							<label for="address1">Address</label>
							<textarea class="form-control clearit" id="address1"></textarea>
						</div>
						<div class="form-group">
							<label for="address2">Alternate Address</label>
							<textarea class="form-control clearit" id="address2"></textarea>
						</div>
						<legend>Academic Information</legend>
						<table class="table table-striped">
							<thead class="thead-light">
								<tr>
									<th scope="col">Examination</th>
									<th scope="col">Board/ University</th>
									<th scope="col">Year</th>
									<th scope="col">Total Marks</th>
									<th scope="col">Marks Obtained</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">M.P or 10th*</th>
									<td><input type="text" class="form-control clearit" id="mpboard"></td>
									<td><input type="text" class="form-control clearit" id="mpyear"></td>
									<td><input type="number" class="form-control clearit" id="mptotal"></td>
									<td><input type="number" class="form-control clearit" id="mpmarks"></td>
								</tr>
								<tr>
									<th scope="row">H.S or 12th*</th>
									<td><input type="text" class="form-control clearit" id="hsboard"></td>
									<td><input type="text" class="form-control clearit" id="hsyear"></td>
									<td><input type="number" class="form-control clearit" id="hstotal"></td>
									<td><input type="number" class="form-control clearit" id="hsmarks"></td>
								</tr>
								<tr>
									<th scope="row">Graduation</th>
									<td><input type="text" class="form-control clearit" id="gradboard"></td>
									<td><input type="text" class="form-control clearit" id="gradyear"></td>
									<td><input type="number" class="form-control clearit" id="gradtotal"></td>
									<td><input type="number" class="form-control clearit" id="gradmarks"></td>
								</tr>
								<tr>
									<th scope="row">Post Graduation</th>
									<td><input type="text" class="form-control clearit" id="pgboard"></td>
									<td><input type="text" class="form-control clearit" id="pgyear"></td>
									<td><input type="number" class="form-control clearit" id="pgtotal"></td>
									<td><input type="number" class="form-control clearit" id="pgmarks"></td>
								</tr>
							</tbody>
						</table>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="regLast">Registration No. from the University Last Attended</label>
								<input type="text" class="form-control clearit" id="regLast">
							</div>
							<div class="form-group col-md-6">
								<label for="subject">Subject</label>
								<input type="text" class="form-control clearit" id="subject">
							</div>
						</div>
						<div class="form-group">
							<label for="schoolName">Last School Name</label>
							<input type="text" class="form-control clearit" id="schoolName">
						</div>
						<button type="submit" class="btn btn-primary" id="button">Submit</button>
					</form>
					<div id="msg" class="py-4">
					</div>
				</div>	
			</div>
		</div>
	</div>
	<!-- /.container -->
</body>
{{>layout/footer}}
