{{>layout/header}}
<body>
	<div class="wrapper">
		<div class="container">
			<div class="row">
				{{>layout/navbar}}
			</div>
			<div class="row">
				{{>layout/sidebar}}
				
				<!-- responsive equal width cols, can be sm, md, lg, or xl -->
				
				<div class="col-md-10">
					<nav>
						<div class="nav nav-tabs" id="nav-tab" role="tablist">
							<a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Due Payment</a>
							<a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Student List</a>
							<a class="nav-item nav-link disabled" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Report 3</a>
						</div>
					</nav>
					<div class="tab-content" id="nav-tabContent">
						<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
							<form class="form-inline pt-4">
								<div class="col-md-4">
									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<label class="input-group-text" for="session">Session</label>
										</div>
										<select class="custom-select" id="session" onchange="changeAncAttSess();">
											<option value="2018-20">2018-20</option>
											<option value="2019-21">2019-21</option>
											<option value="2020-22">2020-22</option>
										</select>
									</div>
								</div>
								<div class="col-md-4">
									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<label class="input-group-text" for="course">Course</label>
										</div>
										<select class="custom-select" id="course" onchange="changeAncAttSess();">
											<option value="B.Ed">B.Ed</option>
											<option value="D.El.Ed">D.El.Ed</option>
										</select>
									</div>
								</div>
								<div class="col-md-2">
									<a class="btn btn-primary mb-3" id="paydue" target="_blank" href="/payDueReport?course=B.Ed&session=2018-20">Generate Report</a>
								</div>
							</form>
							<div id="msg" class="py-4"></div>
						</div>
						<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
							<form class="form-inline pt-4">
								<div class="col-md-4">
									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<label class="input-group-text" for="session">Session</label>
										</div>
										<select class="custom-select" id="r2session" onchange="changeAncAttSessStudentDetails();">
											<option value="2018-20">2018-20</option>
											<option value="2019-21">2019-21</option>
											<option value="2020-22">2020-22</option>
										</select>
									</div>
								</div>
								<div class="col-md-4">
									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<label class="input-group-text" for="course">Course</label>
										</div>
										<select class="custom-select" id="r2course" onchange="changeAncAttSessStudentDetails();">
											<option value="B.Ed">B.Ed</option>
											<option value="D.El.Ed">D.El.Ed</option>
										</select>
									</div>
								</div>
								<div class="col-md-2">
									<a class="btn btn-primary mb-3" id="studentDetail" target="_blank" href="/allStudents?course=B.Ed&session=2018-20">Download Students Detail</a>
								</div>
							</form>
						</div>
						<div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">contact</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<!-- /.container -->
</body>
{{>layout/footer}}
