{{>layout/header}}
<body>
	<div class="wrapper">
		<div class="container">
			<div class="row">
				{{>layout/navbar}}
			</div>
			<div class="row">
				{{>layout/sidebar}}
				
				<!-- responsive equal width cols, can be sm, md, lg, or xl -->
				
				<div class="col-md-10">
					<div class="col-md-5 pb-4">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Search.." id="studentSearch">
						</div>
					</div>
					<table class="table table-striped">
						<thead>
						<tr>
							<th>Id</th>
							<th>Name</th>
							<th>Course</th>
							<th>Session</th>
							<th>Mobile</th>
						</tr>
						</thead>
						<tbody id ="studentTable">
						{{#students}}
						<tr>
							<td>{{id}}</td>
							<td>{{name}}</td>
							<td>{{course}}</td>
							<td>{{session}}</td>
							<td>{{mobile}}</td>
						</tr>
						{{/students}}
						</tbody>
					</table>
				</div>
				
			</div>
		</div>
	</div>
	<!-- /.container -->
</body>
{{>layout/footer}}
