{{>layout/header}}

<body>
	<div class="wrapper">
		<div class="container">
			<div class="row">
				{{>layout/navbar}}
			</div>
			<div class="row">
				{{>layout/sidebar}}

				<!-- responsive equal width cols, can be sm, md, lg, or xl -->

				<div class="col-md-10">
					<nav>
						<div class="nav nav-tabs" id="nav-tab" role="tablist">
							<a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home"
								role="tab" aria-controls="nav-home" aria-selected="true">Student List</a>
							<a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
								role="tab" aria-controls="nav-profile" aria-selected="false">Payment Info</a>
							<a class="nav-item nav-link" id="nav-edit-tab" data-toggle="tab" href="#nav-edit" role="tab"
								aria-controls="nav-edit" aria-selected="true">Student Edit</a>
						</div>
					</nav>
					<div class="tab-content" id="nav-tabContent">
						<div class="tab-pane fade show active" id="nav-home" role="tabpanel"
							aria-labelledby="nav-home-tab">
							<div class="pb-4 pt-4 row row-list">

								<div class="input-group col-md-6">
									<input type="text" class="form-control" placeholder="Search.." id="studentSearch">
								</div>
								<div class="input-group col-md-3">
									<div class="input-group-prepend">
										<label class="input-group-text" for="session">Session</label>
									</div>
									<select class="custom-select" id="session" onchange="fetchStudents();">
										<option value="">--Select--</option>
										<option value="2018-20">2018-20</option>
										<option value="2019-21">2019-21</option>
										<option value="2020-22">2020-22</option>
										<option value="2021-23">2021-23</option>
										<option value="2022-24">2022-24</option>
										<option value="2023-25">2023-25</option>
										<option value="2024-26">2024-26</option>
									</select>
								</div>
								<div class="input-group col-md-3">
									<div class="input-group-prepend">
										<label class="input-group-text" for="course">Course</label>
									</div>
									<select class="custom-select" id="course" onchange="fetchStudents();">
										<option value="">--Select--</option>
										<option value="SishuAnkur">Sishu Ankur</option>
										<option value="Kishlaya">Kishlaya</option>
										<option value="Patabahar">Patabahar</option>
										<option value="Class1">Class 1</option>
										<option value="Class2">Class 2</option>
										<option value="Class3">Class 3</option>
										<option value="Class4">Class 4</option>
									</select>
								</div>

							</div>
							{{>studentList}}
						</div>
						<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
							<div class="col-md-5 pt-4">
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Student Id" id="id">
									<span class="input-group-btn">
										<button class="btn btn-secondary" type="button" id="idSearch">Go!</button>
									</span>
								</div>
							</div>
							<div class="col-md-10" id="paymentDetail" class="py-4">
							</div>
						</div>
						<div class="tab-pane fade" id="nav-edit" role="tabpanel" aria-labelledby="nav-edit-tab">
							<div class="col-md-5 pt-4">
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Student Id" id="idStudent">
									<span class="input-group-btn">
										<button class="btn btn-secondary" type="button" id="idSearchEdit">Go!</button>
									</span>
								</div>
							</div>
							<div id="studentDetail" class="py-4">
							</div>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>
	<!-- /.container -->
</body>
{{>layout/footer}}