{{>layout/header}}

<body>
	<div class="wrapper">
		<div class="container">
			<div class="row">
				{{>layout/navbar}}
			</div>
			<div class="row">
				{{>layout/sidebar}}

				<!-- responsive equal width cols, can be sm, md, lg, or xl -->
				<div class="col-md-10">
					<div class="row">
						<div class="col-md-6">
							<div class="card">
								<h5 class="card-header">
									Daily Collection Summary
								</h5>
								<div class="card-body">
									<p>B.Pharm - &#x20b9; {{bpharmAmount}}</p>
									<p>D.Pharm - &#x20b9; {{dpharmAmount}}</p>
									<p>Prospectus - &#x20b9; {{prospectusAmount}}</p>
								</div>
								<div class="card-footer">
									<strong class="text-muted">Total - &#x20b9; {{totalAmount}}</strong>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="card">
								<h5 class="card-header">
									Daily Invoice Summary
								</h5>
								<div class="card-body">
									<p>B.Pharm - {{bpharmInvoiceCount}} Invoice(s)</p>
									<p>D.Pharm - {{dpharmInvoiceCount}} Invoice(s)</p>
									<p>Prospectus - {{prospectusCount}} Invoice(s)</p>
								</div>
								<div class="card-footer">
									<strong class="text-muted">Total - {{totalInvoiceCount}} Invoice(s)</strong>
								</div>
							</div>
						</div>
					</div>
					<div class="row pt-2">
						<div class="col-md-12">
							<div class="card">
								<h5 class="card-header">
									Daily Collection Breakup
								</h5>
								<div class="card-body">
									<pre>Cash               - &#x20b9; {{cash}}</pre>
									<pre>Cheque           - &#x20b9; {{cheque}}</pre>
									<pre>DD                  - &#x20b9; {{dd}}</pre>
									<pre>Net Banking    - &#x20b9; {{netBanking}}</pre>
									<pre>POS                - &#x20b9; {{pos}}</pre>
									<pre>Bank Deposit  - &#x20b9; {{bankDeposit}}</pre>
								</div>
								<div class="card-footer">
									<strong class="text-muted">Total - &#x20b9; {{totalAmount}} </strong>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- /.container -->
</body>
{{>layout/footer}}