{{>layout/header}}

<body>
	<div class="wrapper">
		<div class="container">
			<div class="row">
				{{>layout/navbar}}
			</div>
			<div class="row">
				{{>layout/sidebar}}

				<!-- responsive equal width cols, can be sm, md, lg, or xl -->
				<div class="col-md-10">
					<div class="row">
						<div class="col-md-6">
							<div class="card">
								<h5 class="card-header">
									Daily Collection Summary
								</h5>
								<div class="card-body">
									<p>B.Ed - &#x20b9; {{bedAmount}}</p>
									<p>D.Ed - &#x20b9; {{dedAmount}}</p>
									<p>Prospectus - &#x20b9; {{prospectusAmount}}</p>
								</div>
								<div class="card-footer">
									<strong class="text-muted">Total - &#x20b9; {{totalAmount}}</strong>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="card">
								<h5 class="card-header">
									Daily Invoice Summary
								</h5>
								<div class="card-body">
									<p>B.Ed - {{bedInvoiceCount}} Invoice(s)</p>
									<p>D.Ed - {{dedInvoiceCount}} Invoice(s)</p>
									<p>Prospectus - {{prospectusCount}} Invoice(s)</p>
								</div>
								<div class="card-footer">
									<strong class="text-muted">Total - {{totalInvoiceCount}} Invoice(s)</strong>
								</div>
							</div>
						</div>
					</div>
					<div class="row pt-2">
						<div class="col-md-12">
							<div class="card">
								<h5 class="card-header">
									Daily Collection Breakup
								</h5>
								<div class="card-body">
									<pre>Cash               - &#x20b9; {{cash}}</pre>
									<pre>Cheque           - &#x20b9; {{cheque}}</pre>
									<pre>DD                  - &#x20b9; {{dd}}</pre>
									<pre>Net Banking    - &#x20b9; {{netBanking}}</pre>
									<pre>POS                - &#x20b9; {{pos}}</pre>
									<pre>Bank Deposit  - &#x20b9; {{bankDeposit}}</pre>
								</div>
								<div class="card-footer">
									<strong class="text-muted">Total - &#x20b9; {{totalAmount}} </strong>
								</div>
							</div>
						</div>
					</div>
					<div class="row pt-2">
						<div class="col-md-6">
							<div class="card">
								<h5 class="card-header">
									Month wise Fees Collection
								</h5>
								<div class="card-body embed-responsive embed-responsive-4by3">
									<iframe class="embed-responsive-item"
										src="https://charts.mongodb.com/charts-project-0-fidxu/embed/charts?id=5e6589fb-9a73-4d33-919f-b896dc36fa2f&theme=light"></iframe>
								</div>

							</div>
						</div>
						<div class="col-md-6">
							<div class="card">
								<h5 class="card-header">
									Course wise Fees Collection
								</h5>
								<div class="card-body embed-responsive embed-responsive-4by3">
									<iframe class="embed-responsive-item"
										src="https://charts.mongodb.com/charts-project-0-fidxu/embed/charts?id=813ad458-2e42-41c5-84b5-92027507c8ac&theme=light"></iframe>
								</div>

							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- /.container -->
</body>
{{>layout/footer}}